<h1 mat-dialog-title>Add Todo</h1>
<form
  [formGroup]="todoForm"
  (ngSubmit)="onSubmit()"
  fxLayout="column"
  fxLayoutGap="10px"
>
  <div mat-dialog-content>
    <p>What do you wanna do?</p>
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <mat-label>Add a new Todo</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="title.invalid && title.touched"
          >Please give a Todo title</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Todo description</mat-label>
        <textarea matInput formControlName="body"></textarea>
        <mat-error *ngIf="body.invalid && body.touched"
          >Please give a Todo text</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="space-evenly center"
    mat-dialog-actions
  >
    <button mat-raised-button color="warn" type="button" (click)="onNoClick()">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!todoForm.valid"
    >
      Add
    </button>
  </div>
</form>
