<div class="editPage" fxLayout="row" fxLayoutAlign="center center">
  <form
    [formGroup]="editForm"
    class="editForm"
    (ngSubmit)="onSubmit()"
    fxLayout="column"
  >
    <mat-form-field class="editFormField">
      <mat-label>{{ todo.title }}</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>
    <mat-form-field class="editFormField">
      <mat-label>{{ todo.body }}</mat-label>
      <textarea matInput formControlName="body" required></textarea>
    </mat-form-field>
    <mat-checkbox
      style="margin-bottom: 20px; margin-left: 20px"
      formControlName="completed"
      >Mark as Completed</mat-checkbox
    >
    <div
      fxLayout="row"
      fxLayoutGap="50px"
      fxLayoutAlign="center"
      style="margin-bottom: 10px"
    >
      <button
        mat-fab
        type="button"
        color="warn"
        matTooltip="Delete Todo"
        matTooltipPosition="left"
        (click)="delTodo(todo)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-fab
        color="accent"
        type="submit"
        [disabled]="!editForm.valid"
        matTooltip="Update Todo"
        matTooltipPosition="right"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </form>
</div>
